.button {
  background-color: rgb(236, 51, 82);
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  color: rgb(68, 68, 68);
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: rgb(68, 68, 68);
  color: rgb(236, 51, 82);
}
